@import 'normalize.css';
@import 'clearfix.css';
@import 'font-awesome.css';

* {
	/*
	border:1px solid #000;
	*/
}

a{
	text-decoration: none;
	color: black;
}

html{
	font-size: 62.5%;
}

body{
	font-size: 1.6em;
	font-family: Helvetica, "Microsoft YaHei", "微软雅黑", SimSun, "宋体", Heiti, "黑体", sans-serif;
	background: url("../img/bg_pattern.jpg") repeat;
	/* for css3
	background:linear-gradient(#fff,beige) repeat-x;
	background-size:10px 1500px;
	*/
}
nav{
	width: 100%;
	position:fixed;
	left:0;
	top:0;
	text-align: right;
	border-bottom: 1px solid #ccc;
	background-color: beige;
}

nav ul{
	margin: 0 2rem 0;
}

nav li{
	display: inline;
	list-style: none;
}

nav a{
	display: inline-block;
	padding:10px;
	text-decoration: none;
}

nav a:hover{
	color:white;
	background-color: grey;
}

#page{
	width:940px;
	margin: 0 auto;
	padding: 0 10px;
}

section {
	margin-bottom: -40px;
}
section h2{
	padding-top:50px;
	padding-bottom: 5px;
	border-bottom:1px solid #ccc;
}

#basic ul{
	float:left;
	margin:0 ;
	padding: 0 30px 0 0 ;
	list-style: none;
}


#basic  li{
	/*padding-left: 22px; */
	list-style-position: inside;
	line-height: 2.5rem;
	border-bottom: 1px dotted grey;
}

#basic  li i{
	margin-right: 5px;
	color: #393939;
}

/*
#basic ul.first li{
	background: url("../img/bg-sprites.png") no-repeat 0 8px;
}

#basic ul.second li{
	background: url("../img/bg-sprites.png") no-repeat 0 -16px;
}

#basic ul.last li{
	background: url("../img/bg-sprites.png") no-repeat 0 -40px;
}
*/

#basic ul span.header{
	margin-right: 0.5em;
	font-weight: bold;
}

#intro img{
	float:left;
	width:80px;
	height: 90px;
	margin:0 20px 0 0;
	padding: 1px;
	border: 1px solid grey;
}

#intro p{
	line-height: 2rem;
}

#education table{
	border-spacing:0;
	border-collapse:collapse;
}
#education tr td{
	padding: 8px;
	border-bottom: 1px dotted grey;

}

#code{
	min-height: 500px;
}
#code pre{
	margin-top:-20px;
}
